#root {
  height: 100vh;
}

.image {
  background: rgb(255, 233, 203);
  background: linear-gradient(210deg, rgba(255, 233, 203, 0.6095938375350141) 0%, rgba(252, 240, 164, 0.5899859943977591) 36%, rgba(193, 255, 209, 0.5871848739495799) 57%, rgba(190, 190, 255, 0.6488095238095238) 81%, rgba(255, 189, 250, 0.7188375350140056) 100%);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  max-width: 100%;
  position: relative;
}

.wrapper .button1 {
  position: absolute;
  right: 143px;
  top: 10px;
  height: 25px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.wrapper textarea:focus {
  box-shadow: 2px 4px 10px #8c8f8c;
}